extends layout

block content
  h1= title
  p Welcome to #{title}
  p Test suite version #{tsversion}

  form(name="change-version", method="post")
    div.input
        span.label Test Suite Version
        input(type="text", name="tsversion")
    div.actions
        input(type="submit", value="update")

  each vend, idx in vendors
    each lrs, lidx in vend
        p #{idx} #{lidx} #{lrs.version}
        img(src= "/#{idx}/#{lidx}/badge.png")
        p   -------------
